:root {
    --darker: #1d2024;
}

.App { 
    background-color: var(--dark);
    position: absolute;
    top: 0;
    left: 0;
    height: 150%;
    width: 100%;
    padding-top: 75px;
}

/* * {
    color: var(--light);
} */

/* HELPER CLASSES */

.st_flex-wrap {
    flex-wrap: wrap;
}



.user-nav--container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--dark);
}

.user-nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid white;
    padding: 5px 20px 10px 20px;
    align-items: center;
    
}

.user-nav--logo {
    display: inline-block;
    font-size: 1.75em;
    font-weight: bold;
    margin-right: 20px;
    color: white;
}

.user-nav--buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
} 

.user-nav--buttons button {
    display: block;
    margin: 0 5px;
    height: fit-content;
} 

.user-nav--content {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    flex-wrap: wrap;
} 

.user-nav--user-info--container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5em;
}

.user-nav--username, .user-nav--money {
    display: block;
    width: 100%;
    font-size: 1.25em;
    color: crimson;
    font-weight: bold;
}

.user-nav--money {
    color: gold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
}





.login-modal .modal-title {
    font-size: 2em;
}





.user-nav--logoff-btn-icon {
    position: absolute;
    left: -5px;
    top: 5px;
    cursor: pointer;
    color: white;
    transition: 0.15s;
}

.user-nav--logoff-btn-icon:hover {
    transform: rotate(90deg) scale(1.25);
    color: red;
}

.user-nav--logoff-btn-icon:active {
    transform: rotate(90deg) scale(0.75);
    color: crimson;
    opacity: 0.8;
}






.user-nav--time-since-update {
    position: absolute;
    left: -45px;
    bottom: 0;
    background-color: inherit;
    border: none;
    cursor: context-menu !important;
    padding: 0;
    width: 50px;
    text-align: right;
}

.user-nav--time-since-update.btn-secondary:not(:disabled):not(.disabled):active,
.user-nav--time-since-update.btn-secondary:focus,
.user-nav--time-since-update.btn-secondary:hover {
    background-color: inherit;
    border: none;
    box-shadow: none;
}



.loans-dashboard {
    padding: 10px;
    background-color: var(--darker);
    color: white;
}

.loans-dashboard--loan {
    margin: 3px 5px;
    padding: 8px 13px;
    max-width: 375px;
    background-color: rgb(48, 6, 6);
    position: relative;
}

.loan-confirm-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .loan-confirm-btn {
        bottom: 25%;
        transform: translateY(-50%) rotate(-90deg);
        padding: 2px 10px;
        right: -33px;
    }

    /* This is to make some extra room for the accept button when it moves to the right of the Loan */
    .loans-dashboard--loan {
        margin-right: 10px;
        padding-right: 18px;
    }
}